<div class="slider-wrapper theme-halftone">
  <div class="headline">Создать новую запись</div>
    <div class="body-part">
      <!--Поскольку new очень похожа на страницу edit, то будет использоваться механизм частичного представления (Partial) с помощью подключения файла _form,html.erb.-->
      <%= render 'form' %>
    </div>
</div>